# Игнорировать скомпилированные файлы
bin/
obj/
vs/

# Игнорировать папку .vs (настройки и кэш Visual Studio)
.vs/

# Игнорировать платформо-зависимые файлы (для MAUI)
Platforms/

# Игнорировать пользовательские настройки Visual Studio
*.user
*.suo

# Игнорировать временные файлы
*.ps1